.about {
    width: 100%;
    padding-bottom: var(--paddingSection);

    &__body {
        display: flex;
        gap: 40px;

        img {
            width: 448px;
            height: 460px;
            object-fit: cover;
            border-radius: 16px;
            max-width: 448px;
            min-height: 460px;
        }

        &-frame {
            display: flex;
            flex-direction: column;
            gap: 40px;

            h1 {
                font-size: 52px;
                line-height: 110%;
                font-weight: 600;
            }

            .about__attr {
                border-top: 1px solid #E7EAEF;

                .faq__item {
                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.blocks {
    width: 100%;
    padding-bottom: var(--paddingSection);

    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        .blocks__item {
            display: flex;
            flex-direction: column;
            gap: 12px;

            img {
                width: 100%;
                height: 185px;
                object-fit: cover;
                border-radius: 16px;
            }

            &-wrap {
                display: flex;
                flex-direction: column;
                gap: 4px;

                h3 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: -1%;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0%;
                }
            }
        }
    }
}

.anons {
    width: 100%;

    &__body {
        padding-top: 32px;
        border-top: 1px solid #E7EAEF;
        display: flex;
        flex-direction: column;
        gap: 32px;

        h2 {
            font-weight: 600;
            font-size: 38px;
            line-height: 46px;
            letter-spacing: -1.5%;
        }

        &-frame {
            display: flex;
            flex-direction: column;

            .anons__item {
                display: flex;
                justify-content: space-between;
                width: 100%;
                gap: 32px;
                padding: 40px 0;
                border-bottom: 1px solid #E7EAEF;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    border-bottom: none;
                }

                img {
                    width: 590px;
                    height: 332px;
                    object-fit: cover;
                    border-radius: 16px;
                }

                &-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: space-between;

                    h3 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 26px;
                        letter-spacing: -1%;
                    }

                    a {
                        width: 100%;
                        border-radius: 8px;
                        background: #891CFE;
                        height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--white);
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 140%;

                    }

                    .wrap__list {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 120%;
                            letter-spacing: 0%;
                        }

                        &-array {
                            display: flex;
                            flex-direction: column;

                            span {
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 140%;
                                letter-spacing: 0%;
                            }

                            ul {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                li {
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 120%;
                                    letter-spacing: 0%;
                                    list-style: decimal;
                                    list-style-position: inside;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.portal {
    width: 100%;
    padding-bottom: var(--paddingSection);

    &__body {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        border-top: 1px solid #E7EAEF;
        gap: 32px;

        &.smi {
            .portal__body-frame {
                grid-template-columns: repeat(4, 1fr);
                gap: 24px;
                .portal__item{
                    &-wrap{
                        span{
                            order: -1;
                        }
                    }
                }
            }
        }

        h2 {
            font-weight: 600;
            font-size: 38px;
            line-height: 120%;
            letter-spacing: -1.5%;
        }

        &-frame {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;

            .portal__item {
                display: flex;
                flex-direction: column;
                gap: 12px;

                img {
                    width: 100%;
                    height: 198px;
                    border-radius: 16px;
                    object-fit: cover;
                }

                &-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    h3 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 120%;
                        letter-spacing: -1%;
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0%;
                    }

                    span {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0%;
                        color: #9392A1;
                    }
                }
            }
        }
    }
}