.art {
    width: 100%;
    padding-bottom: var(--paddingSection);

    .container {
        max-width: 720px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-back {
            display: flex;
            align-items: center;
            gap: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #891CFE;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        &-frame {
            display: flex;
            flex-direction: column;
            gap: 24px;

            h1 {
                font-weight: 600;
                font-size: 38px;
                line-height: 46px;
                letter-spacing: -1.5%;
            }

            .art__item {
                display: flex;
                flex-direction: column;
                gap: 16px;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                }

                span {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 0%;
                }

                p,
                li {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 0%;
                }

                .paragraph {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding-left: 24px;
                    position: relative;
                    border-left: 3px solid #9392A1;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    li {
                        list-style: disc;
                        list-style-position: inside;
                    }
                }

                .date {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 140%;
                    letter-spacing: 0%;
                    color: #9392A1;
                }
            }
        }
    }
}