.footer {
    width: 100%;
    padding: 0 0 54px;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 70px;
        border-top: 1px solid var(--border);
        padding-top: 38px;

        &-main {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .footer__main {
                display: flex;
                flex-direction: column;
                gap: 24px;

                &-logo {
                    width: 219px;
                    height: 31px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .footer__social {
                    display: flex;
                    gap: 6px;

                    .social__item {
                        width: 42px;
                        height: 42px;
                        border-radius: 6px;

                        svg {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .footer__phone {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    a {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 26px;
                        letter-spacing: -1%;
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0%;
                    }
                }

                .footer__telegramm {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0%;
                    }

                    a {
                        padding: 12px 16px;
                        background: var(--fontblack);
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: var(--white);
                        font-size: 14px;
                        font-weight: 500;

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            .footer__navigation {
                display: flex;
                gap: 60px;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                &-item {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    span {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 120%;
                    }

                    nav {
                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;

                            li {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 120%;
                            }
                        }
                    }
                }
            }
        }

        &-soft {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: flex-end;

            p {
                font-size: 12px;
                line-height: 100%;
                font-weight: 400;
            }

            .soft__wrapper {
                display: flex;
                flex-direction: column;
                gap: 8px;

                p {
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 400;
                    max-width: 768px;
                }

                &-links {
                    display: flex;
                    gap: 8px;

                    a {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

