:root{
    --white: #fff;
    --fontblack: #252525;
    --grey:#F2F3F4;
    --inpback: #F3F4F6;
    --greyback:#F5F5F5;
    --black: #000000;
    --green: #A3C437;
    --border: #F8F8F8;
    --paddingSection: 100px;
    --firstSection: 174px;
}