.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--white);
    border-bottom: 1px solid var(--border);
    box-shadow: 0px 4px 4px 0px #00000008;

    &__body {
        width: 100%;

        &-location {
            padding: 5px 0px;
            display: flex;
            align-items: center;
            font-weight: 500;
            line-height: 120%;
            font-size: 14px;
            color: #9392A1;
            display: flex;
            align-items: center;
            gap: 4px;

            svg {
                width: 12px;
                height: 12px;
            }
        }

        &-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 18px 0;

            .header__logo {
                width: 178px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .header__action {
                display: flex;
                align-items: center;
                gap: 8px;

                &-catalog {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: var(--white);
                    background: #891CFE;
                    border-radius: 8px;
                    padding: 10px 12px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                &-search {
                    padding: 10px 12px;
                    background: var(--inpback);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    width: 742px;
                    height: 100%;

                    input {
                        width: 90%;
                        background: transparent;
                        color: var(--black);
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                        color: #9392A1;
                    }
                }
            }

            .header__user {
                display: flex;
                align-items: center;
                gap: 16px;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 12px;
                    color: var(--fontblack);
                    font-weight: 500;
                    gap: 4px;

                    svg {
                        width: 24px;
                        height: 24px;
                        color: var(--fontblack);
                    }
                }
            }
        }

        &-navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 12px 0;
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    .separator{
                        fill: var(--fontblack);
                        width: 4px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        opacity: .2;
                    }
                    li{
                        font-size: 14px;
                        line-height: 100%;
                        font-weight: 500;
                        a{
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            svg{
                                width: 11px;
                            }
                        }
                    }
                }
            }
            .header__social{
                display: flex;
                align-items: center;
                gap: 10px;
                a{
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    svg{
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}