.sale {
    width: 100%;
    padding-bottom: var(--paddingSection);

    &__body {
        display: flex;
        flex-direction: column;

        &-title {
            padding: 32px 0px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                font-weight: 500;
                font-size: 12px;
                line-height: 120%;
                letter-spacing: 0%;
                color: #9392A1;
            }

            h1 {
                font-weight: 600;
                font-size: 52px;
                line-height: 110%;
                letter-spacing: -1%;
            }
        }

        &-frame {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;

            .sale__item {
                min-height: 380px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    img {
                        width: 100%;
                        height: 230px;
                        object-fit: cover;
                        border-radius: 16px;
                    }

                    h3 {
                        margin-top: 4px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 140%;
                        letter-spacing: -1%;
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        color: #9392A1;
                    }
                }

                a {
                    width: 100%;
                    height: 44px;
                    border-radius: 8px;
                    border: 1px solid #E7EAEF;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}