@media (max-width: 1600px) {
    html {
        font-size: calc(100vw/ 1600);
    }

    .container {
        max-width: 1400rem;
    }

    :root {
        --paddingSection: 100rem;
        --firstSection: 174rem;
    }
    .header {
        border-bottom: 1rem solid var(--border);
        box-shadow: 0rem 4rem 4rem 0rem #00000008;
        &__body {
            &-location {
                padding: 5rem 0rem;
                font-size: 14rem;
                gap: 4rem;
                svg {
                    width: 12rem;
                    height: 12rem;
                }
            }

            &-main {
                padding: 18rem 0;
                .header__logo {
                    width: 178rem;
                }

                .header__action {
                    gap: 8rem;
                    &-catalog {
                        gap: 8rem;
                        border-radius: 8rem;
                        padding: 10rem 12rem;
                        svg {
                            width: 20rem;
                            height: 20rem;
                        }
                    }

                    &-search {
                        padding: 10rem 12rem;
                        border-radius: 8rem;
                        gap: 8rem;
                        width: 742rem;
                        svg {
                            width: 20rem;
                            height: 20rem;
                        }
                    }
                }
                .header__user {
                    gap: 16rem;
                    a {
                        font-size: 12rem;
                        gap: 4rem;
                        svg {
                            width: 24rem;
                            height: 24rem;
                        }
                    }
                }
            }

            &-navigation {
                padding: 12rem 0;
                nav {
                    ul {
                        gap: 12rem;
                        .separator {
                            width: 4rem;
                        }
                        li {
                            font-size: 14rem;
                            a {
                                gap: 4rem;
                                svg {
                                    width: 11rem;
                                }
                            }
                        }
                    }
                }

                .header__social {
                    gap: 10rem;
                    a {
                        font-size: 14rem;
                        gap: 4rem;
                        svg {
                            width: 12rem;
                            height: 12rem;
                        }
                    }
                }
            }
        }
    }

    .footer {
        padding: 38rem 0 54rem;
        &__body {
            gap: 70rem;
            &-main {
                .footer__main {
                    gap: 24rem;
                    &-logo {
                        width: 219rem;
                        height: 31rem;
                    }
                    .footer__social {
                        gap: 6rem;
                        .social__item {
                            width: 42rem;
                            height: 42rem;
                            border-radius: 6rem;
                        }
                    }
                    .footer__phone {
                        gap: 6rem;
                        a {
                            font-size: 20rem;
                            line-height: 26rem;
                        }
                        p {
                            font-size: 14rem;
                            line-height: 20rem;
                        }
                    }
                    .footer__telegramm {
                        gap: 10rem;
                        p {
                            font-size: 14rem;
                            line-height: 20rem;
                        }
                        a {
                            padding: 12rem 16rem;
                            border-radius: 8rem;
                            gap: 8rem;
                            font-size: 14rem;
                            svg {
                                width: 24rem;
                                height: 24rem;
                            }
                        }
                    }
                }

                .footer__navigation {
                    gap: 60rem;
                    &-wrapper {
                        gap: 24rem;
                    }
                    &-item {
                        gap: 12rem;
                        span {
                            font-size: 14rem;
                        }
                        nav {
                            ul {
                                gap: 6rem;
                                li {
                                    font-size: 14rem;
                                }
                            }
                        }
                    }
                }
            }

            &-soft {
                p {
                    font-size: 12rem;
                }
                .soft__wrapper {
                    gap: 8rem;
                    p {
                        font-size: 12rem;
                        max-width: 768rem;
                    }
                    &-links {
                        gap: 8rem;
                        a {
                            font-size: 12rem;
                        }
                    }
                }
            }
        }
    }

    .hero {
        &__body {
            .splide {
                .splide__pagination {
                    bottom: -42rem;
                    .splide__pagination__page {
                        width: 8rem;
                        min-width: 8rem;
                        height: 8rem;
                    }
                }

                .splide__arrows {
                    gap: 10rem;
                    bottom: -45rem;
                    .splide__arrow {
                        width: 30rem;
                        height: 30rem;
                        box-shadow: 0rem 4rem 4rem 0rem #00000026;
                        svg {
                            width: 16rem;
                            height: 16rem;
                        }
                    }
                }

                .splide__slide {
                    border-radius: 16rem;
                    padding: 56rem 88rem;
                    .splide__wrapper {
                        gap: 36rem;
                        h3 {
                            font-size: 52rem;
                            line-height: 56rem;
                        }

                        a {
                            padding: 12rem 16rem;
                            font-size: 14rem;
                            border-radius: 8rem;
                        }
                    }
                    img {
                        right: 115rem;
                    }
                }
            }
        }
    }

    .categories {
        &__body {
            row-gap: 32rem;
            column-gap: 16rem;
            .categoriy__item {
                gap: 8rem;
                font-size: 14rem;
                &.all__cat {
                    border-radius: 16rem;
                    gap: 12rem;
                    .icon {
                        width: 30rem;
                        svg {
                            width: 16rem;
                            height: 16rem;
                        }
                    }
                }
                img {
                    width: 130rem;
                    height: 130rem;
                }
            }
        }
    }

    .hits {
        &__body {
            gap: 32rem;
            &-title:has(.hits__navigation) {
                .hits__navigation {
                    gap: 6rem;
                    a {
                        padding: 10rem 12rem;
                        font-size: 14rem;
                        border: 1rem solid var(--black);
                        border-radius: 500rem;
                    }
                }
            }
            &-title {
                gap: 4rem;
                h2 {
                    font-size: 38rem;
                    line-height: 46rem;
                }
                p {
                    line-height: 20rem;
                    font-size: 14rem;
                }
            }

            &-frame {
                gap: 20rem;
                &.block__view {
                    .watch__more {
                        padding: 12rem 0rem;
                        font-size: 14rem;
                        border-radius: 16rem;
                        border: 1rem solid #E7EAEF;
                        margin-top: 36rem;
                    }

                    .hits__item {
                        padding: 16rem;
                        &-wrap {
                            padding-top: 10rem;
                        }
                        &-top {
                            height: 248rem;
                            .top__action {
                                gap: 4rem;
                                button {
                                    &.gift {
                                        border-radius: 6rem;
                                        width: 36rem;
                                        height: 36rem;
                                        svg {
                                            width: 24rem;
                                            height: 24rem;
                                        }
                                    }
                                    &.new {
                                        padding: 4rem 6rem;
                                        border-radius: 6rem;
                                        font-size: 14rem;
                                    }
                                    &.hit {
                                        padding: 4rem 6rem;
                                        border-radius: 6rem;
                                        font-size: 14rem;
                                    }
                                }
                            }
                            .favorit {
                                svg {
                                    width: 20rem;
                                    height: 20rem;
                                }
                            }
                        }
                    }
                }
                .hits__item {
                    img {
                        height: 170rem;
                    }
                    &-wrap {
                        padding: 14rem 0 0;
                        border-top: 1rem solid #E7EAEF;
                        gap: 6rem;
                        .hits__item-price {
                            gap: 4rem;
                            span {
                                font-size: 18rem;
                                line-height: 24rem;
                            }

                            p {
                                font-size: 14rem;
                            }
                        }
                        .hits__item-part {
                            font-size: 14rem;
                        }
                        .hits__item-attr {
                            font-size: 12rem;
                            margin-top: 4rem;
                        }
                    }
                }
            }

        }
    }

    .trends {
        &__body {
            gap: 32rem;
            h2 {
                font-size: 38rem;
                line-height: 46rem;
            }
            &-frame {
                gap: 16rem;
                .trends__item {
                    border-radius: 16rem;
                    padding: 35rem;
                    h3 {
                        font-size: 26rem;
                        line-height: 32rem;
                    }

                    p {
                        font-size: 14rem;
                        line-height: 120%;
                    }
                }
                .trends__item:nth-child(1),
                .trends__item:nth-child(2),
                .trends__item:nth-child(4) {
                    gap: 6rem;
                    height: 295rem;
                }
                .trends__item:nth-child(4) {
                    height: 331rem;
                }
                .trends__item:nth-child(5) {
                    img {
                        width: 255rem;
                        height: 196rem;
                        bottom: 0;
                        right: 40rem;
                    }
                }
            }
        }
    }
    .brands {
        &__body {
            gap: 8rem;
            &::before,
            &::after {
                width: 70rem;
            }
            &::after {
                right: -2rem;
            }
            &-stroke {
                gap: 8rem;
            }

            .brands__item {
                padding: 16rem 20rem;
                border-radius: 12rem;
                border: 1rem solid #F3F4F6;
                height: 70rem;
            }
        }
    }

    .banner {
        &__body {
            border-radius: 16rem;
            padding: 52rem 40rem;
            gap: 16rem;
            &.full__banner {
                .soft__image {
                    height: 324rem;
                }
                &.different {
                    .soft__image {
                        right: 192rem;
                    }
                }
            }

            h2 {
                font-size: 38rem;
            }

            p {
                font-size: 16rem;
            }
        }
    }

    .switch__banner {
        &-body {
            gap: 32rem;
            .banner:nth-child(1) {
                .banner__body {
                    .soft__image {
                        right: 42rem;
                    }
                }
            }
            .banner {
                &__body {
                    padding: 45rem 40rem;
                }
            }
        }
    }

    .article {
        &__body {
            gap: 32rem;
            h2 {
                font-size: 38rem;
            }
            &-frame {
                gap: 16rem;
                .article__item {
                    padding: 32rem 24rem;
                    gap: 24rem;
                    border-radius: 12rem;

                    img {
                        width: 100%;
                        height: 200rem;
                        border-radius: 12rem;
                    }

                    h3 {
                        font-size: 16rem;
                    }
                }
            }
        }
    }

    .search__block {
        &-body {
            padding: 32rem 0 48rem;
            border-radius: 12rem;
            gap: 32rem;
            &::after,
            &::before {
                width: 150rem;
                filter: blur(10rem);
            }
            h2 {
                font-size: 38rem;
            }
            .search__block-frame {
                gap: 8rem;
                .search__wrapper {
                    gap: 8rem;
                    .search__wrapper-stroke {
                        gap: 8rem;
                        .search__item {
                            padding: 13rem 16rem;
                            border-radius: 500rem;
                            gap: 14rem;
                            font-size: 18rem;
                            line-height: 24rem;
                            svg {
                                width: 32rem;
                                height: 32rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .about {
        &__body {
            gap: 40rem;
            img {
                width: 906rem;
                height: 393rem;
                border-radius: 16rem;
            }
            &-frame {
                h2 {
                    font-size: 38rem;
                    line-height: 110%;
                    font-weight: 600;
                }

                p {
                    font-size: 22rem;
                }
            }
        }
    }

    .attributes {
        &__body {
            gap: 16rem;
            .attributes__item {
                padding: 24rem;
                border-radius: 12rem;
                gap: 26rem;
                svg {
                    width: 44rem;
                    height: 44rem;
                }

                h3 {
                    font-size: 18rem;
                }
            }
        }
    }

    .address {
        &__body {
            gap: 32rem;
            h2 {
                font-size: 38rem;
            }
            &-frame {
                gap: 36rem;
                .address__item {
                    gap: 18rem;
                    h3 {
                        font-size: 26rem;
                    }
                    &-frame {
                        gap: 18rem;
                        .frame-item {
                            gap: 6rem;
                            h4 {
                                font-size: 14rem;
                            }

                            p {
                                font-size: 14rem;
                            }
                        }
                    }
                }
            }

            iframe {
                border-radius: 16rem;
            }
        }
    }

    .faq {
        &__body {
            border-top: 1rem solid #E7EAEF;
            .faq__item {
                padding: 20rem 0;
                border-bottom: 1rem solid #E7EAEF;
                &-top {
                    h3 {
                        font-size: 38rem;
                    }
                    svg {
                        width: 24rem;
                        height: 24rem;
                    }
                }
                p {
                    font-size: 16rem;
                    padding-top: 16rem;
                }
            }
        }
    }
}