<section class="about">
    <div class="container">
        <div class="about__body">
            <img src="../images/dist/about.webp" alt="">
            <div class="about__body-frame">
                <h1>
                    Яблочный Путь — <br> надёжный проводник в мир оригинальной <br> техники
                </h1>
                <div class="about__attr">
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3>Почему у вас дешевле?</h3>
                            <i data-lucide="plus"></i>
                        </div>
                        <div class="faq__item-wrap">
                            <p>
                                Работаем напрямую с поставщиками, без посредников, делая для наших клиентов самые
                                выгодные условия
                            </p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3>Есть ли у вас скидки и акции?</h3>
                            <i data-lucide="plus"></i>
                        </div>
                        <div class="faq__item-wrap">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam velit nemo
                                eos, aut,
                                iusto nam sit veniam sunt dolorem voluptates facilis dolore perspiciatis architecto iure
                                quod?
                                Debitis, ipsum sapiente?
                            </p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3>Какие есть способы оплаты?</h3>
                            <i data-lucide="plus"></i>
                        </div>
                        <div class="faq__item-wrap">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam velit nemo
                                eos, aut,
                                iusto nam sit veniam sunt dolorem voluptates facilis dolore perspiciatis architecto iure
                                quod?
                                Debitis, ipsum sapiente?
                            </p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__item-top">
                            <h3>Есть ли возможность рассрочки?</h3>
                            <i data-lucide="plus"></i>
                        </div>
                        <div class="faq__item-wrap">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magnam velit nemo
                                eos, aut,
                                iusto nam sit veniam sunt dolorem voluptates facilis dolore perspiciatis architecto iure
                                quod?
                                Debitis, ipsum sapiente?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blocks">
    <div class="container">
        <div class="blocks__body">
            <div class="blocks__item">
                <img src="../images/dist/blocks1.webp" alt="">
                <div class="blocks__item-wrap">
                    <h3>Оригинальная продукция</h3>
                    <p>Только в наших магазинах вы найдёте оригинальную технику Apple по самым низким ценам в городе.
                    </p>
                </div>
            </div>
            <div class="blocks__item">
                <img src="../images/dist/blocks2.webp" alt="">
                <div class="blocks__item-wrap">
                    <h3>Клиентоориентированность</h3>
                    <p>Наша команда всегда готова оказать помощь и поддержку клиентам, стремясь сделать ваш опыт
                        максимально положительным, заботясь о клиенте на каждом этапе — от консультации до
                        пост-продажного обслуживания.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="anons">
    <div class="container">
        <div class="anons__body">
            <h2>Анонсы и розыгрыши</h2>
            <div class="anons__body-frame">
                <div class="anons__item">
                    <img src="../images/dist/anons1.webp" alt="">
                    <div class="anons__item-wrap">
                        <h3>Розыгрыш Яндекс Станции Лайт от сети магазинов «Яблочный Путь»</h3>
                        <div class="wrap__list">
                            <p>
                                🔆 Солнце светит, настроение на максимум, а любимая музыка и голосовой помощник всегда
                                под рукой! В честь начала тёплого сезона разыгрываем новенькую Яндекс Станцию Лайт!
                            </p>
                            <div class="wrap__list-array">
                                <span>Как участвовать 👇</span>
                                <ul>
                                    <li>Подпишись на наше сообщество в ВК</li>
                                    <li>Сделай репост этой записи к себе на страницу и в сторис (обязательно отметь нас,
                                        чтобы мы увидели)</li>
                                    <li>Напиши «+» в комментариях, если участвуешь</li>
                                </ul>
                            </div>
                            <p>Победителя выберем уже 27.06. случайным образом. Яблочный Путь — делаем технику Apple
                                доступной</p>
                        </div>
                        <a href="">
                            Участвовать в розыгрыше
                        </a>
                    </div>
                </div>
                <div class="anons__item">
                    <img src="../images/dist/anons2.webp" alt="">
                    <div class="anons__item-wrap">
                        <h3>С Днём блогера, герои Reels и мастера сторис!</h3>
                        <div class="wrap__list">
                            <p>
                                В честь вашего праздника — дарим не лайки, а скидки 🎁
                            </p>
                            <div class="wrap__list-array">
                                <span>🗓️ Только до 28 июня:</span>
                                <ul>
                                    <li>3000 ₽ на MacBook</li>
                                    <li>2000 ₽ на iPhone и iPad</li>
                                    <li>10% на все услуги сервисного центра</li>
                                </ul>
                            </div>
                            <p>Пусть техника вдохновляет, а мы — поддержим! И да, даже если вы ещё не блогер, скидки всё
                                равно ваши 😉</p>
                            <p>📍Ждём в сети магазинов «Яблочный Путь»</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portal">
    <div class="container">
        <div class="portal__body">
            <h2>Мероприятия компании</h2>
            <div class="portal__body-frame">
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/1.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>«Яблочный Путь» на Зелёном марафоне: эмоции, движение и живое общение</h3>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/2.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Юбилейная выставка Арт-проекта Sheverev Gallery</h3>
                        <p>В этом году наша компания стала частью и партнером юбилейной выставки Арт-проекта Sheverev Gallery</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/3.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>43-я гонка «Лыжня России»</h3>
                        <p>Гонка в День российской науки ярко подчеркнула связь спорта и интеллектуального прогресса.</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/4.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Конкурс «Мисс и Мистер» Университет 2024»</h3>
                        <p>Конкурс завершился с феерией эмоций и блеском талантов!</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/5.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Конкурс «Мисс НГУ»</h3>
                        <p>Конкурс красоты и интеллекта «Мисс НГУ» отмечает свое 29-е издание, собрав в финале девять изумительных участниц</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/6.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Первая региональная премия для блогеров «МедиаСбор»</h3>
                        <p>Мы рады сообщить, что наша компания «Яблочный Путь» выступила партнером ПЕРВОЙ В РЕГИОНЕ ПРЕМИИ для молодых блогеров!</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="portal">
    <div class="container">
        <div class="portal__body smi">
            <h2>СМИ о нас</h2>
            <div class="portal__body-frame">
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/1.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>«Яблочный Путь» на Зелёном марафоне: эмоции, движение и живое общение</h3>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/2.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Юбилейная выставка Арт-проекта Sheverev Gallery</h3>
                        <p>В этом году наша компания стала частью и партнером юбилейной выставки Арт-проекта Sheverev Gallery</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/3.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>43-я гонка «Лыжня России»</h3>
                        <p>Гонка в День российской науки ярко подчеркнула связь спорта и интеллектуального прогресса.</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/4.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Конкурс «Мисс и Мистер» Университет 2024»</h3>
                        <p>Конкурс завершился с феерией эмоций и блеском талантов!</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/5.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Конкурс «Мисс НГУ»</h3>
                        <p>Конкурс красоты и интеллекта «Мисс НГУ» отмечает свое 29-е издание, собрав в финале девять изумительных участниц</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/6.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Первая региональная премия для блогеров «МедиаСбор»</h3>
                        <p>Мы рады сообщить, что наша компания «Яблочный Путь» выступила партнером ПЕРВОЙ В РЕГИОНЕ ПРЕМИИ для молодых блогеров!</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="portal">
    <div class="container">
        <div class="portal__body smi">
            <h2>Мы на YouTube</h2>
            <div class="portal__body-frame">
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/1.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>«Яблочный Путь» на Зелёном марафоне: эмоции, движение и живое общение</h3>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/2.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Юбилейная выставка Арт-проекта Sheverev Gallery</h3>
                        <p>В этом году наша компания стала частью и партнером юбилейной выставки Арт-проекта Sheverev Gallery</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/3.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>43-я гонка «Лыжня России»</h3>
                        <p>Гонка в День российской науки ярко подчеркнула связь спорта и интеллектуального прогресса.</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/4.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Конкурс «Мисс и Мистер» Университет 2024»</h3>
                        <p>Конкурс завершился с феерией эмоций и блеском талантов!</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/5.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Конкурс «Мисс НГУ»</h3>
                        <p>Конкурс красоты и интеллекта «Мисс НГУ» отмечает свое 29-е издание, собрав в финале девять изумительных участниц</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
                <a href="" class="portal__item">
                    <img src="../images/dist/portal/6.png" alt="">
                    <div class="portal__item-wrap">
                        <h3>Первая региональная премия для блогеров «МедиаСбор»</h3>
                        <p>Мы рады сообщить, что наша компания «Яблочный Путь» выступила партнером ПЕРВОЙ В РЕГИОНЕ ПРЕМИИ для молодых блогеров!</p>
                        <span>31.05.2025</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>