<section class="art">
    <div class="container">
        <div class="art__body">
            <a href="" class="art__body-back">
                <i data-lucide="chevron-left"></i>
                Назад
            </a>
            <div class="art__body-frame">
                <h1>
                    Огромные шоколадные яйца с вау-эффектом предложила к Новому году компания из Новосибирска
                </h1>
                <div class="art__item">
                    <img src="../images/dist/art.webp" alt="">
                    <span>Ирина МЖЕЛЬСКАЯ:</span>
                    <div class="paragraph">
                        <p>Новый год — время радовать и удивлять, и на этот раз одно из самых креативных подарочных
                            решений разработала и осуществила новосибирская компания «Яблочный Путь». Она подготовила
                            подарки, которые способны удивить и порадовать, без преувеличения, любого человека.</p>
                        <p>Их суперинтересная идея заключается в том, что обычная продукция — всевозможные гаджеты –
                            помещается в огромные шоколадные яйца по аналогии с популярными «киндер-сюрпризами». В итоге
                            получается крутой подарок со сногсшибательным вау-эффектом.</p>
                        <p>Получая такой презент, словно возвращаешься в детство – изумление непременно сменяется жгучим
                            интересом: «Что же, что же там внутри?!» И открытие оправдывает самые смелые ожидания.
                            Вдобавок сам шоколад, из которого выполнено яйцо, очень хорошего качества и обязательно
                            пригодится для вкусного чаепития.</p>
                    </div>
                    <p>В компании «Яблочный Путь» рассказали, что создали необычное и вкусное решение к Новому году –
                        огромные шоколадные kinder-яйца, которые способны удивить и порадовать любого человека вне
                        зависимости от его возраста.</p>
                    <p>Дело в том, что в таком яйце-сюрпризе спрятаны желанные и дорогие подарки:</p>
                    <ul>
                        <li>умные станции «Лайт» и «Мини» — для любителей технологий и удобства;</li>
                        <li>AirPods и Marshall – для тех, кто не мыслит свою жизнь без музыки;</li>
                        <li>хиты продаж iPhone 15 и 16, Apple Watch с ремешками и аксессуарами — для ценителей стиля и
                            функциональности;</li>
                        <li>комплекты – чехлы, аксессуары, зарядки и даже компьютерная мышь – всё, что нужно для
                            комфортной жизни.</li>
                    </ul>
                    <p>«Если вы стремитесь удивить своих близких и подарить им нечто уникальное, наши предложения станут
                        идеальным решением!» — поделились организаторы. Вся продукция, помещенная внутрь яиц, находится
                        на гарантии.</p>
                    <div class="image__signature">
                        <img src="../images/dist/art.webp" alt="">
                        <p>Слева: фото компании «Яблочный Путь». Справа: Митя ФОМИН, кадр со страницы певца в одной
                            из соцсетей</p>
                    </div>
                    <p>Оценить такой сюрприз уже успел звездный певец из Новосибирска Митя Фомин. После концерта в
                        начале декабря в комплексе имени В. Маяковского шоумен сообщил, что получил подобное яйцо от
                        поклонников. Распаковку подарка он опубликовал в соцсетях. Внутри оказался новенький iPhone 16.
                    </p>
                    <p>«Ребята, вы шутите? Мне подарили настоящий «айфон»? Это даже не день рождения! Мне такое обычно
                        на дни рождения дарят. Спасибо за такой фантастический подарок!» – восхитился Митя Фомин.</p>
                    <p>NSK.BFM.RU</p>
                    <span class="date">26.12.2024</span>
                </div>
            </div>
        </div>
    </div>
</section>