<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
    <link rel="stylesheet" href="../scss/style.min.css">
    <title>Яблочный путь</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="" class="header__body-location">
                    <i data-lucide="send"></i>
                    Новосибирск
                </a>
                <div class="header__body-main">
                    <a class="header__logo" href="">
                        <img src="../images/dist/logo.svg" alt="">
                    </a>
                    <div class="header__action">
                        <button class="header__action-catalog">
                            <i data-lucide="menu"></i>
                            Каталог
                        </button>
                        <div class="header__action-search">
                            <i data-lucide="search"></i>
                            <input type="text" placeholder="Например, iPhone 17 Pro Max">
                        </div>
                    </div>
                    <div class="header__user">
                        <a href="">
                            <i data-lucide="shopping-cart"></i>
                            Корзина
                        </a>
                        <a href="">
                            <i data-lucide="heart"></i>
                            Избранное
                        </a>
                        <a href="">
                            <i data-lucide="log-in"></i>
                            Войти
                        </a>
                    </div>
                </div>
                <div class="header__body-navigation">
                    <nav>
                        <ul>
                            <li>
                                <a href="">Аксессуары</a>
                            </li>
                            <li>
                                <a href="">Новинки</a>
                            </li>
                            <li>
                                <a href="">iPhone</a>
                            </li>
                            <li>
                                <a href="">Watch</a>
                            </li>
                            <li>
                                <a href="">AirPods</a>
                            </li>
                            <li>
                                <a href="">Mac</a>
                            </li>
                            <li>
                                <a href="">iPad</a>
                            </li>
                            <li>
                                <a href="">Dyson</a>
                            </li>
                            <i class="separator" data-lucide="circle"></i>
                            <li>
                                <a href="">Трейд-ин</a>
                            </li>
                            <li>
                                <a href="">Рассрочка</a>
                            </li>
                            <li>
                                <a href="">Доставка</a>
                            </li>
                            <li>
                                <a href="">Гарантия</a>
                            </li>
                            <li>
                                <a href="">Возврат</a>
                            </li>
                            <li>
                                <a href="">Магазины</a>
                            </li>
                            <li>
                                <a href="">
                                    Ещё
                                    <i data-lucide="chevron-down"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__social">
                        <a href="">
                            +7 999 123 45 67
                        </a>
                        <a href="">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.1846 2.95335C13.3493 2.88401 13.5297 2.86009 13.7068 2.88409C13.8839 2.90809 14.0514 2.97913 14.1917 3.0898C14.3321 3.20048 14.4402 3.34676 14.5048 3.5134C14.5695 3.68005 14.5883 3.86098 14.5593 4.03735L13.0473 13.2087C12.9006 14.0933 11.9299 14.6007 11.1186 14.16C10.4399 13.7913 9.43193 13.2233 8.52526 12.6307C8.07193 12.334 6.68327 11.384 6.85393 10.708C7.0006 10.13 9.33393 7.95801 10.6673 6.66668C11.1906 6.15935 10.9519 5.86668 10.3339 6.33335C8.79926 7.49201 6.33526 9.25401 5.5206 9.75001C4.80193 10.1873 4.42726 10.262 3.97926 10.1873C3.16193 10.0513 2.40393 9.84068 1.78527 9.58401C0.949265 9.23735 0.989932 8.08801 1.7846 7.75335L13.1846 2.95335Z"
                                    fill="#252525" />
                            </svg>
                            Телеграм
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="sale">
            <div class="container">
                <div class="sale__body">
                    <div class="sale__body-title">
                        <p>Акционные предложения</p>
                        <h1>Яблочный Путь — это про выгоду</h1>
                    </div>
                    <div class="sale__body-frame">
                        <div class="sale__item">
                            <div class="sale__item-wrap">
                                <img src="../images/dist/sale/1.png" alt="">
                                <h3>Подарки на 10 000 ₽ при покупке нового iPhone</h3>
                                <p>Полезные мелочи для вашего телефона: аккумуляторы, аксессуары MagSafe, зарядные устройства. Выбирать вам!</p>
                            </div>
                            <a href="">
                                Подробнее
                            </a>
                        </div>
                        <div class="sale__item">
                            <div class="sale__item-wrap">
                                <img src="../images/dist/sale/2.png" alt="">
                                <h3>Подарки на 15 000 ₽ при покупке нового Macbook</h3>
                                <p>Подставка, беспроводная мышь, чехол и другие приятные дополнения к вашему маку.</p>
                            </div>
                            <a href="">
                                Подробнее
                            </a>
                        </div>
                        <div class="sale__item">
                            <div class="sale__item-wrap">
                                <img src="../images/dist/sale/3.png" alt="">
                                <h3>Программа «Trade-in» на всю технику</h3>
                                <p>Принимаем iPhone от 11-ой модели. Оценка стоимости техники за 15 минут.</p>
                            </div>
                            <a href="">
                                Подробнее
                            </a>
                        </div>
                        <div class="sale__item">
                            <div class="sale__item-wrap">
                                <img src="../images/dist/sale/4.png" alt="">
                                <h3>Бонусная программа с денежными сертификатами в дни рождения и праздники</h3>
                                <p>Какой же праздник без подарка?</p>
                            </div>
                            <a href="">
                                Подробнее
                            </a>
                        </div>
                        <div class="sale__item">
                            <div class="sale__item-wrap">
                                <img src="../images/dist/sale/5.png" alt="">
                                <h3>Беспроцентная рассрочка до 36 месяцев на все товары</h3>
                                <p>Покупаете сегодня, а платите — потом. Без первого взноса и переплаты.</p>
                            </div>
                            <a href="">
                                Подробнее
                            </a>
                        </div>
                        <div class="sale__item">
                            <div class="sale__item-wrap">
                                <img src="../images/dist/sale/6.png" alt="">
                                <h3>Парная покупка: дарим 3000 ₽ при покупке двух iPhone</h3>
                            </div>
                            <a href="">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer__body-main">
                    <div class="footer__main">
                        <a class="footer__main-logo" href="">
                            <img src="../images/dist/logo.svg" alt="">
                        </a>
                        <div class="footer__social">
                            <a class="social__item">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 18C0 10.5005 0 6.7508 1.90983 4.12215C2.52663 3.2732 3.2732 2.52663 4.12215 1.90983C6.7508 0 10.5005 0 18 0H24C31.4995 0 35.2492 0 37.8779 1.90983C38.7268 2.52663 39.4734 3.2732 40.0902 4.12215C42 6.7508 42 10.5005 42 18V24C42 31.4995 42 35.2492 40.0902 37.8779C39.4734 38.7268 38.7268 39.4734 37.8779 40.0902C35.2492 42 31.4995 42 24 42H18C10.5005 42 6.7508 42 4.12215 40.0902C3.2732 39.4734 2.52663 38.7268 1.90983 37.8779C0 35.2492 0 31.4995 0 24V18Z"
                                        fill="#039BE5" />
                                    <path
                                        d="M31.9933 13.4274C31.6673 16.8614 30.2545 25.2074 29.5373 29.0543C29.233 30.6844 28.6245 31.2277 28.0594 31.2929C26.7988 31.4016 25.8425 30.467 24.6254 29.6629C22.7128 28.4023 21.6261 27.6199 19.7787 26.4027C17.627 24.99 19.018 24.2076 20.2568 22.947C20.5828 22.621 26.1468 17.5569 26.2555 17.1005C26.2705 17.0314 26.2685 16.9596 26.2496 16.8914C26.2307 16.8233 26.1954 16.7607 26.1468 16.7093C26.0164 16.6006 25.8425 16.6441 25.6904 16.6658C25.4948 16.7093 22.452 18.7306 16.5185 22.7297C15.6492 23.3165 14.8667 23.6208 14.1712 23.599C13.3888 23.5773 11.9109 23.1643 10.8025 22.7949C9.4332 22.3602 8.36823 22.1211 8.45516 21.3604C8.49863 20.9692 9.04199 20.578 10.0635 20.165C16.4099 17.4048 20.6263 15.5791 22.7345 14.7098C28.7766 12.1886 30.0155 11.7539 30.8414 11.7539C31.0152 11.7539 31.4282 11.7974 31.689 12.0147C31.9063 12.1886 31.9715 12.4277 31.9933 12.6015C31.9715 12.7319 32.015 13.1232 31.9933 13.4274Z"
                                        fill="white" />
                                </svg>
                            </a>
                            <a class="social__item">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_188_4882)">
                                        <path
                                            d="M0 18C0 10.5005 0 6.7508 1.90983 4.12215C2.52663 3.2732 3.2732 2.52663 4.12215 1.90983C6.7508 0 10.5005 0 18 0H24C31.4995 0 35.2492 0 37.8779 1.90983C38.7268 2.52663 39.4734 3.2732 40.0902 4.12215C42 6.7508 42 10.5005 42 18V24C42 31.4995 42 35.2492 40.0902 37.8779C39.4734 38.7268 38.7268 39.4734 37.8779 40.0902C35.2492 42 31.4995 42 24 42H18C10.5005 42 6.7508 42 4.12215 40.0902C3.2732 39.4734 2.52663 38.7268 1.90983 37.8779C0 35.2492 0 31.4995 0 24V18Z"
                                            fill="#FF3D00" />
                                        <mask id="mask0_188_4882" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                            x="8" y="11" width="26" height="20">
                                            <path
                                                d="M21 12.4453C32 12.4453 32 12.4453 32 21.0009C32 29.5564 32 29.5564 21 29.5564C10 29.5564 10 29.5564 10 21.0009C10 12.4453 10 12.4453 21 12.4453Z"
                                                fill="white" stroke="white" stroke-width="2.44444" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M18.5556 16.7227L25.8889 21.0004L18.5556 25.2782V16.7227Z"
                                                fill="black" />
                                        </mask>
                                        <g mask="url(#mask0_188_4882)">
                                            <path d="M35.6663 6.33398H6.33301V35.6673H35.6663V6.33398Z" fill="white" />
                                        </g>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_188_4882">
                                            <rect width="42" height="42" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                            <a class="social__item">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_188_4890)">
                                        <path
                                            d="M0 18C0 10.5005 0 6.7508 1.90983 4.12215C2.52663 3.2732 3.2732 2.52663 4.12215 1.90983C6.7508 0 10.5005 0 18 0H24C31.4995 0 35.2492 0 37.8779 1.90983C38.7268 2.52663 39.4734 3.2732 40.0902 4.12215C42 6.7508 42 10.5005 42 18V24C42 31.4995 42 35.2492 40.0902 37.8779C39.4734 38.7268 38.7268 39.4734 37.8779 40.0902C35.2492 42 31.4995 42 24 42H18C10.5005 42 6.7508 42 4.12215 40.0902C3.2732 39.4734 2.52663 38.7268 1.90983 37.8779C0 35.2492 0 31.4995 0 24V18Z"
                                            fill="#2787F5" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M32.45 14.948C32.616 14.402 32.45 14 31.655 14H29.03C28.362 14 28.054 14.347 27.887 14.73C27.887 14.73 26.552 17.926 24.661 20.002C24.049 20.604 23.771 20.795 23.437 20.795C23.27 20.795 23.019 20.604 23.019 20.057V14.948C23.019 14.292 22.835 14 22.279 14H18.151C17.734 14 17.483 14.304 17.483 14.593C17.483 15.214 18.429 15.358 18.526 17.106V20.904C18.526 21.737 18.373 21.888 18.039 21.888C17.149 21.888 14.984 18.677 13.699 15.003C13.45 14.288 13.198 14 12.527 14H9.9C9.15 14 9 14.347 9 14.73C9 15.412 9.89 18.8 13.145 23.281C15.315 26.341 18.37 28 21.153 28C22.822 28 23.028 27.632 23.028 26.997V24.684C23.028 23.947 23.186 23.8 23.715 23.8C24.105 23.8 24.772 23.992 26.33 25.467C28.11 27.216 28.403 28 29.405 28H32.03C32.78 28 33.156 27.632 32.94 26.904C32.702 26.18 31.852 25.129 30.725 23.882C30.113 23.172 29.195 22.407 28.916 22.024C28.527 21.533 28.638 21.314 28.916 20.877C28.916 20.877 32.116 16.451 32.449 14.948"
                                            fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_188_4890">
                                            <rect width="42" height="42" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                        <div class="footer__phone">
                            <a href="">
                                +7 (383) 318-12-55
                            </a>
                            <p>С 9:00 до 22:00, без выходных</p>
                        </div>
                        <div class="footer__telegramm">
                            <p>Вопросы? С радостью ответим <br> на них в нашем телеграме!</p>
                            <a href="">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M21.9947 5.35581C21.7178 8.34225 20.518 15.6004 19.9089 18.946C19.6505 20.3636 19.1336 20.8362 18.6537 20.8929C17.5831 20.9874 16.7709 20.1746 15.7373 19.4752C14.1129 18.379 13.19 17.6985 11.621 16.64C9.79367 15.4114 10.975 14.731 12.0271 13.6347C12.304 13.3512 17.0294 8.9471 17.1217 8.55016C17.1345 8.49004 17.1328 8.42763 17.1167 8.36834C17.1006 8.30905 17.0706 8.25467 17.0294 8.20994C16.9186 8.11543 16.7709 8.15323 16.6417 8.17213C16.4756 8.20994 13.8914 9.96778 8.85229 13.4457C8.11395 13.956 7.44945 14.2206 6.85878 14.2017C6.19428 14.1828 4.93911 13.8237 3.99773 13.5024C2.83485 13.1243 1.93039 12.9164 2.00422 12.2549C2.04114 11.9146 2.5026 11.5744 3.37014 11.2153C8.76 8.81479 12.3409 7.22706 14.1314 6.471C19.2628 4.27842 20.315 3.90039 21.0164 3.90039C21.164 3.90039 21.5148 3.93819 21.7363 4.12721C21.9208 4.27842 21.9762 4.48634 21.9947 4.63755C21.9762 4.75096 22.0131 5.09119 21.9947 5.35581Z"
                                        fill="white" />
                                </svg>
                                Задать вопрос в Телеграме
                            </a>
                        </div>
                    </div>
                    <div class="footer__navigation">
                        <div class="footer__navigation-item">
                            <span>iPhone</span>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="">iPhone 17</a>
                                    </li>
                                    <li>
                                        <a href="">iPhone 17 Pro</a>
                                    </li>
                                    <li>
                                        <a href="">iPhone 17 Pro Max</a>
                                    </li>
                                    <li>
                                        <a href="">iPhone Air</a>
                                    </li>
                                    <li>
                                        <a href="">iPhone 16</a>
                                    </li>
                                    <li>
                                        <a href="">iPhone 16 Plus</a>
                                    </li>
                                    <li>
                                        <a href="">iPhone 16 Pro</a>
                                    </li>
                                    <li>
                                        <a href="">iPhone 16 Pro Max</a>
                                    </li>
                                    <li>
                                        <a href="">Все модели</a>
                                    </li>
                                    <li>
                                        <a href="">Аксессуары</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__navigation-wrapper">
                            <div class="footer__navigation-item">
                                <span>Apple</span>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">AirPods</a>
                                        </li>
                                        <li>
                                            <a href="">Watch</a>
                                        </li>
                                        <li>
                                            <a href="">Macbook</a>
                                        </li>
                                        <li>
                                            <a href="">iPad</a>
                                        </li>
                                        <li>
                                            <a href="">Vision Pro</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="footer__navigation-item">
                                <span>Dyson</span>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">Фены</a>
                                        </li>
                                        <li>
                                            <a href="">Выпрямители</a>
                                        </li>
                                        <li>
                                            <a href="">Стайлеры</a>
                                        </li>
                                        <li>
                                            <a href="">Пылесосы</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="footer__navigation-wrapper">
                            <div class="footer__navigation-item">
                                <span>Игры и развлечения</span>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">Sony PlayStation</a>
                                        </li>
                                        <li>
                                            <a href="">Xbox</a>
                                        </li>
                                        <li>
                                            <a href="">VR-очки</a>
                                        </li>
                                        <li>
                                            <a href="">Портативные консоли</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="footer__navigation-item">
                                <span>Андроид</span>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">Google Pixel</a>
                                        </li>
                                        <li>
                                            <a href="">Samsung</a>
                                        </li>
                                        <li>
                                            <a href="">Xiaomi</a>
                                        </li>
                                        <li>
                                            <a href="">Poco</a>
                                        </li>
                                        <li>
                                            <a href="">Huawei</a>
                                        </li>
                                        <li>
                                            <a href="">Honor</a>
                                        </li>
                                        <li>
                                            <a href="">Redmi</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="footer__navigation-wrapper">
                            <div class="footer__navigation-item">
                                <span>Яндекс Станции</span>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">Мини 3 с часами</a>
                                        </li>
                                        <li>
                                            <a href="">Станция Миди</a>
                                        </li>
                                        <li>
                                            <a href="">Станция 2</a>
                                        </li>
                                        <li>
                                            <a href="">Станция Макс</a>
                                        </li>
                                        <li>
                                            <a href="">Станция Дуо Макс</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="footer__navigation-item">
                                <span>Аудио и видео</span>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">Beats</a>
                                        </li>
                                        <li>
                                            <a href="">Marshall</a>
                                        </li>
                                        <li>
                                            <a href="">GoPro</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="footer__navigation-wrapper">
                            <div class="footer__navigation-item">
                                <span>Клиенту</span>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">Трейд-ин</a>
                                        </li>
                                        <li>
                                            <a href="">Доставка</a>
                                        </li>
                                        <li>
                                            <a href="">Возврат</a>
                                        </li>
                                        <li>
                                            <a href="">Рассрочка и кредит</a>
                                        </li>
                                        <li>
                                            <a href="">Акции</a>
                                        </li>
                                        <li>
                                            <a href="">Магазины</a>
                                        </li>
                                        <li>
                                            <a href="">Сервис</a>
                                        </li>
                                        <li>
                                            <a href="">Контакты</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="footer__navigation-item">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="">Для бизнеса</a>
                                        </li>
                                        <li>
                                            <a href="">Блог</a>
                                        </li>
                                        <li>
                                            <a href="">Франшиза</a>
                                        </li>
                                        <li>
                                            <a href="">Вакансии</a>
                                        </li>
                                        <li>
                                            <a href="">О компании</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__body-soft">
                    <p>
                        ОГРНИП: 324547600094089 <br>
                        ИП ТЕМИРХАНОВА АМАЛИЯ ФИЗУЛИЕВНА <br>
                        © Яблочный Путь, 2026. Все права защищены.
                    </p>
                    <div class="soft__wrapper">
                        <p>
                            Фирма-производитель оставляет за собой право на внесение изменений в программное обеспечение,
                            дизайн и комплектацию приборов без предварительного уведомления. Во избежание недоразумений
                            при покупке техники уточняйте информацию о комплектации, наличию и цене у продавцов.
                            Вся информация на сайте носит справочный характер и не является публичной офертой.
                        </p>
                        <div class="soft__wrapper-links">
                            <a href="">Политика файлов Cookie</a>
                            <a href="">Правила проведения акций</a>
                            <a href="">Политика конфиденциальности</a>
                            <a href="">Договор публичной оферты</a>
                            <a href="">Политика обработки данных</a>
                            <a href="">О работе RuStore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script>
        lucide.createIcons();
    </script>
    <script src="https://unpkg.com/lenis@1.3.17/dist/lenis.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/main.min.js"></script>
</body>

</html>