<section class="sale">
    <div class="container">
        <div class="sale__body">
            <div class="sale__body-title">
                <p>Акционные предложения</p>
                <h1>Яблочный Путь — это про выгоду</h1>
            </div>
            <div class="sale__body-frame">
                <div class="sale__item">
                    <div class="sale__item-wrap">
                        <img src="../images/dist/sale/1.png" alt="">
                        <h3>Подарки на 10 000 ₽ при покупке нового iPhone</h3>
                        <p>Полезные мелочи для вашего телефона: аккумуляторы, аксессуары MagSafe, зарядные устройства. Выбирать вам!</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <div class="sale__item">
                    <div class="sale__item-wrap">
                        <img src="../images/dist/sale/2.png" alt="">
                        <h3>Подарки на 15 000 ₽ при покупке нового Macbook</h3>
                        <p>Подставка, беспроводная мышь, чехол и другие приятные дополнения к вашему маку.</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <div class="sale__item">
                    <div class="sale__item-wrap">
                        <img src="../images/dist/sale/3.png" alt="">
                        <h3>Программа «Trade-in» на всю технику</h3>
                        <p>Принимаем iPhone от 11-ой модели. Оценка стоимости техники за 15 минут.</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <div class="sale__item">
                    <div class="sale__item-wrap">
                        <img src="../images/dist/sale/4.png" alt="">
                        <h3>Бонусная программа с денежными сертификатами в дни рождения и праздники</h3>
                        <p>Какой же праздник без подарка?</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <div class="sale__item">
                    <div class="sale__item-wrap">
                        <img src="../images/dist/sale/5.png" alt="">
                        <h3>Беспроцентная рассрочка до 36 месяцев на все товары</h3>
                        <p>Покупаете сегодня, а платите — потом. Без первого взноса и переплаты.</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <div class="sale__item">
                    <div class="sale__item-wrap">
                        <img src="../images/dist/sale/6.png" alt="">
                        <h3>Парная покупка: дарим 3000 ₽ при покупке двух iPhone</h3>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>