<section class="banner">
    <div class="container">
        <a href="" class="banner__body traid__banner">
            <img src="../images/dist/traid.webp" alt="">
            <h2>Трейд-ин</h2>
        </a>
    </div>
</section>
<section class="install">
    <div class="container">
        <div class="install__body">
            <div class="install__body-information">
                <h2>
                    Сдайте свои устройства в трейд-ин и получите выгоду при покупке новых
                </h2>
                <p>Мы принимаем модели iPhone от 11 версии.</p>
                <p>Устройство не должно иметь следов вздутия батареи, отсутствующих деталей и деформации корпуса. Мы проведём диагностику для оценки его стоимости.</p>
                <p>При оценке мы учитываем повреждения и царапины на корпусе, экране, сколы и другие следы использования. Это займёт не более 15 минут.</p>
            </div>
            <div class="install__body-frame">
                <div class="install__phone">
                    <p>Узнайте подробности у наших консультантов в магазине, по телефону или в соцсетях:</p>
                    <a href="">+7 (383) 318-12-55</a>
                </div>
                <a class="see-more" href="">
                    Показать магазины на карте
                </a>
            </div>
        </div>
    </div>
</section>